.form-control{
    width: 280px;
    height: 50px;
    color: white;
    background-color: transparent;

    border: 0;
    display: flex;
    flex-direction: right;
    margin-bottom: 5px;

    padding: 10px;
}

.form-control:focus{
    outline: 0;
}